.note-topbar {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.back-button {
    /*
    Going to change it to an image later
    */
    
}

.note-title {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.page-note {
  width:90%;
  margin: 0 auto;
  box-sizing:border-box;
}

.page-note input {
    width: 100%;
    padding: 10px;
    padding-bottom: 60%;
}